// Colours
$black: hsl(342, 30%, 8%);
$white: hsl(0, 0%, 100%);
$snow: hsl(0, 100%, 99%);
$grey: hsl(0, 0%, 7%);
$success: hsl(145, 63%, 49%);
$error: hsl(6, 78%, 57%);

// Font Weights
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

// Font Sizes
$button-xs-14: 0.875rem;
$body-sm-16: 1rem;
$body-18: 1.125rem;
$heading-xs-24: 1.5rem;
$heading-sm-32: 2rem;
$heading-md-40: 2.5rem;
$heading-lg-48: 3rem;
$heading-xl-56: 3.5rem;
$heading-xxl-64: 4rem;
$heading-xxxl-76: 4.75rem;
