@import '../utilities/variables';

body {
  font-family: 'Epilogue', sans-serif;
  font-weight: $regular;
  color: $grey;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: $grey;
  cursor: pointer;
}
